* text=auto !eol
1.6/C/H5G/h5ex_g_create.c -text
1.6/C/H5G/h5ex_g_iterate.c -text
1.6/C/H5G/h5ex_g_iterate.h5 -text
1.6/C/H5G/h5ex_g_traverse.c -text
1.6/C/H5G/h5ex_g_traverse.h5 -text
1.6/C/H5G/makefile.am -text
1.6/C/H5G/makefile.in -text
1.6/C/makefile.am -text
1.6/C/makefile.in -text
1.6/makefile.am -text
1.6/makefile.in -text
1.8/C/H5G/h5ex_g_compact.c -text
1.8/C/H5G/h5ex_g_corder.c -text
1.8/C/H5G/h5ex_g_create.c -text
1.8/C/H5G/h5ex_g_intermediate.c -text
1.8/C/H5G/h5ex_g_iterate.c -text
1.8/C/H5G/h5ex_g_iterate.h5 -text
1.8/C/H5G/h5ex_g_phase.c -text
1.8/C/H5G/h5ex_g_traverse.c -text
1.8/C/H5G/h5ex_g_traverse.h5 -text
1.8/C/H5G/h5ex_g_visit.c -text
1.8/C/H5G/h5ex_g_visit.h5 -text
1.8/C/H5G/makefile.am -text
1.8/C/H5G/makefile.in -text
1.8/C/makefile.am -text
1.8/C/makefile.in -text
1.8/makefile.am -text
1.8/makefile.in -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/NEWS -text
/README -text
/aclocal.m4 -text
/configure -text
/configure.in -text
/depcomp -text
/install-sh -text
/makefile.am -text
/makefile.in -text
/missing -text
