* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/NEWS -text
/README -text
/aclocal.m4 -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/makefile.am -text
/makefile.in -text
/missing -text
